{
    "wappiAuthToken": "YOUR_WAPPI_AUTH_TOKEN",
    "n8nAPIKey": "YOUR_N8N_API_KEY",
    "n8nBaseUrl": "",
    "telegramBotToken": "YOUR_TELEGRAM_BOT_TOKEN",
    "supportChatId": "YOUR_TELEGRAM_CHAT_ID",
    "greenApi": {
        "apiUrl": "https://4100.api.green-api.com",
        "idInstance": "YOUR_INSTANCE_ID",
        "apiTokenInstance": "YOUR_API_TOKEN"
    },
    "greenApiAvatar": {
        "apiUrl": "https://7103.api.greenapi.com",
        "idInstance": "YOUR_INSTANCE_ID",
        "apiTokenInstance": "YOUR_API_TOKEN"
    }
}
